<h1><%= @user.name %> messages</h1>
<div class="row">
  <div class="col-md-10">
    <table class="table table-striped">
       <thead calss="thread-light">
          <tr>
            <th>Title</th>
            <th>Message</th>
          </tr>
        </thead>
        <tbody>
          <% @messages.each do |message| %>
            <tr>
              <td><%= message.title %></td>
              <td><%= message.content %></td>
              <td><%= link_to'Edit', edit_message_path(message)%> </td>
              <td><%= link_to'Delete', message_path(message), method: :delete, data:{ confirm: 'Sure?' } %></td>
            </tr>
          <% end %>
         </tbody>
    </table>  
  </div>
</div>